body{
    font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #636363;
}

.col{
    padding-right: 20px;
    padding-left: 20px;
}



.top-entdecke{
    margin-top: 30px;
}

#searchMenu {
    text-align: center;
    position: relative;
    padding-top: 15px;
    /* margin-left: 70px; */
    padding-bottom: 15px;
}
#searchMenu #searchBar {
    color: #929292;
    width: 100%;
    transition: all .15s;
    padding: 14px;
    padding-left: 50px;
    margin: 0px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.15;
    text-align: left;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.11), 0 1px 3px 0 rgba(0,0,0,.08);
}

#searchMenu #searchBar:focus {
    outline: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,.08), 0 6px 6px rgba(0,0,0,.11);
}

#searchMenu #searchIcon {
    position: absolute;
    z-index: 1;
    padding-top: 11px;
    left: 15px;
    font-size: 20px;
    /* color: #4c4c4c; */
    color: #929292;
}

.swiper-container {
    width: 100%;
    height: 80%;
}
.swiper-slide {
    height: 170px;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.card-entdecke{
    border-radius: 10px;
    width: 160px;
    border: 0 solid transparent;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-entdecke:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title-app{
    color: #636363;
    font-size: 16px;
    text-align:  center;
}

.card-img-top{
    height: 50%;
    width: 100%;
    /* z-index: 28; */
    /* margin-top: -1px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    margin-top: -1px;
    border: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5rem;
    text-align: center;
}

.card-title {
    margin-bottom: .4rem;
}

.header-1{
    color: #636363;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1.2rem;
}

.content-section{
    /* color: #5c626b; */
}

.content-p{
    font-weight: 300;
    margin: 0 0 1.5rem;
    font-size: 16px;
    line-height: 1.7;
}

.content-row{
    margin: 1.5rem 0;
}
.app-img{
    border-radius: 10px;
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}